html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
}

header {
  display: inline-flex;
  height: 2.32rem;
  background-color: black;
  width: 100%;
  position: fixed;
  color: white;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.logo {
  margin-top: 0.33rem;
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;

}

.company-name {
  height: 1rem;
  align-items: center;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
}

main {
  height: 25rem;
  background-image: url(../images/moto.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.new-arrivals {
  background-color: black;
  width: 20rem;
  top: 9rem;
  padding-top: 2rem;
  padding-left: 3rem;
  position: relative;
  height: 10rem;
}

.new-arrivals h4 {
  font-size: 1rem;
  font-weight: bold;
}

.new-arrivals h1 {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 2rem;
}

nav {
  display: flex;
  background-color: firebrick;
  padding: 0.75rem 0rem;
  color: white;
}

nav .container {
  display: flex;
  justify-content: space-between;
}

li {
  display: inline;
}

section {
  background-color: white;
  padding-bottom: 3rem;
}

.products {
  display: flex;
  justify-content: space-between;
  color: white;
}

.product {
  height: 15rem;
  width: 30%;
  margin: 3rem 0 0 0;
}

.product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  padding: 2rem;
  height: 9rem;
}

.product-image img {
  max-width: 9rem;
}

.product-description {
  display: block;
  text-align: center;
  background-color: black;
  padding: 1rem;
  margin: 0;
  color: white;
}

.business-info {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
}

.info {
  width: 35%
}

.title {
  background-color: black;
  display: block;
  padding: 1rem 2rem;
  color: white;
  margin-bottom: 0.25rem;
}


footer {
  display: flex;
  align-items: center;
  height: 6rem;
  background-color: black;
  color: white;
}

.copyright {
  text-align: left;
}
